@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-bg: #1C2024;
  --sidebar-text: #FFFFFF;
  --sidebar-highlight-bg: #4A5568;
  --sidebar-highlight-text: #FFFFFF;
  --emtech-gold: #C9A14F;
}